.u-section-1 .u-sheet-1 {
  min-height: 601px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  width: 470px;
  margin: 38px auto 0;
}

.u-section-1 .u-image-1 {
  width: 156px;
  height: 64px;
  margin: 442px auto 60px 303px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 184px;
  }
}