 .u-section-1 {
  background-image: none;
  min-height: 859px;
}

.u-section-1 .u-shape-1 {
  height: 526px;
  margin-top: -51px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -474px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 643px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 90px 20px 20px 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 40px auto 0 0;
  padding: 17px 42px 19px 41px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.7858em;
  vertical-align: -4px;
  margin-left: 1px;
}

.u-section-1 .u-social-icons-1 {
  height: 39px;
  min-height: 16px;
  width: 157px;
  min-width: 68px;
  margin: 45px auto 0 0;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  --radius: 100px;
  width: 355px;
  height: 509px;
  margin: 0 auto 0 137px;
}

.u-section-1 .u-group-1 {
  --radius: 100px;
  min-height: 256px;
  width: 222px;
  height: auto;
  box-shadow: 7px 5px 0px 0px rgba(128,128,128,0.31);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -195px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: 11px auto 35px;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 169px;
  grid-gap: 10px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-1 .u-text-5 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 18px 10px 0 0;
}

.u-section-1 .u-text-6 {
  margin: 17px 10px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-1 .u-text-7 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 18px 10px 0 0;
}

.u-section-1 .u-text-8 {
  margin: 17px 10px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 18px 10px 0 0;
}

.u-section-1 .u-text-10 {
  margin: 17px 10px 0 0;
}

.u-section-1 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-text-11 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 18px 10px 0 0;
}

.u-section-1 .u-text-12 {
  margin: 17px 10px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 84px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 139px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1472px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 630px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-bottom: 53px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 368px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1443px;
  }

  .u-section-1 .u-shape-1 {
    height: 730px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -676px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 280px;
  }

  .u-section-1 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 487px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    margin-top: -173px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 886px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 64px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 111px auto 0;
  padding: 6px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 48px auto 0;
}

.u-section-3 .u-image-1 {
  width: 570px;
  height: 154px;
  margin: 48px auto 0;
}

.u-section-3 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 0 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 146px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 92px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1090px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 64px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 787px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px 30px 0;
}

.u-section-4 .u-image-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 356px;
  --radius: 100px;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  object-position: 0% 50%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 787px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0 28px;
}

.u-section-4 .u-text-2 {
  margin: 0 30px;
}

.u-section-4 .u-text-3 {
  margin: 60px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 649px;
  }

  .u-section-4 .u-image-1 {
    height: 286px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 649px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 1147px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    height: 552px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1076px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 860px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 541px;
  }

  .u-section-4 .u-image-1 {
    height: 264px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 934px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  margin: 22px auto 0 386px;
  padding: 7px 18px 9px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  margin: -39px 454px 0 auto;
  padding: 7px 12px 9px;
}

.u-section-5 .u-text-2 {
  margin: -36px auto 0 485px;
}

.u-section-5 .u-text-3 {
  margin: -36px 357px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 886px;
  height: 672px;
  margin: 24px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 186px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 254px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 400px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 294px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 107px;
    margin-left: 210px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: -38px;
    margin-right: 235px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 501px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 25px;
    margin-right: 379px;
    margin-left: 635px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 546px;
    margin-top: -46px;
    margin-bottom: 54px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 300px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 300px;
  }

  .u-section-5 .u-text-2 {
    margin-top: -35px;
    margin-left: 518px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 33px;
    margin-right: 414px;
    margin-left: 609px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 410px;
    margin-top: -42px;
    margin-bottom: 43px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 400px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 400px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 537px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 453px;
    margin-left: 570px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 258px;
    margin-bottom: 60px;
    margin-left: 400px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 576px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 47px auto 0;
}

.u-section-6 .u-shape-1 {
  height: 330px;
  margin-top: 39px;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  width: 1140px;
  margin: -281px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 215px;
  grid-gap: 20px;
}

.u-section-6 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-6 .u-container-layout-1 {
  padding: 26px 30px;
}

.u-section-6 .u-icon-1 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-2 {
  margin: 31px auto 0;
}

.u-section-6 .u-text-3 {
  margin: 20px 5px 0;
}

.u-section-6 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-6 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-6 .u-icon-2 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-4 {
  margin: 31px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 20px 5px 0;
}

.u-section-6 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-6 .u-container-layout-3 {
  padding: 26px 30px;
}

.u-section-6 .u-icon-3 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-6 {
  margin: 31px auto 0;
}

.u-section-6 .u-text-7 {
  margin: 20px 5px 0;
}

.u-section-6 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-6 .u-container-layout-4 {
  padding: 26px 30px;
}

.u-section-6 .u-icon-4 {
  height: 67px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 0 auto;
  padding: 0;
}

.u-section-6 .u-text-8 {
  margin: 31px auto 0;
}

.u-section-6 .u-text-9 {
  margin: 20px 5px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-list-1 {
    width: 940px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 175px;
  }

  .u-section-6 .u-icon-1 {
    height: 66px;
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-6 .u-icon-2 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-6 .u-icon-3 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }

  .u-section-6 .u-icon-4 {
    transition-duration: 1.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-list-1 {
    width: 720px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 577px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: -294px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-shape-1 {
    margin-top: 20px;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
    margin-top: -301px;
  }
}

.u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]).u-section-6 .u-list-item-4:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]).u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]).u-block-41bd-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-41bd-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-41bd-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-section-6 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-6 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-section-6 .u-container-layout-2:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-41bd-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-41bd-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-41bd-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-41bd-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-41bd-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-41bd-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-41bd-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-41bd-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-41bd-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-41bd-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-41bd-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-41bd-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-41bd-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-section-6 .u-shape-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-6 .u-shape-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-6 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-section-6 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-section-6 .u-shape-1:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 523px;
}

.u-section-7 .u-slider-1 {
  min-height: 413px;
  width: 893px;
  height: auto;
  margin: 55px auto;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-7 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-7 .u-text-3 {
  font-style: italic;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-7 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  margin: 40px auto 0;
}

.u-section-7 .u-text-6 {
  font-style: italic;
  font-weight: 400;
  margin: 15px auto 0;
}

.u-section-7 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-7 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 453px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 70px;
    padding-right: 70px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 479px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-7 .u-slider-1 {
    min-height: 571px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 827px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 717px;
  background-image: none;
  --radius: 30px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 50px 29px;
}

.u-section-8 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 3rem;
  margin: 20px auto 0 0;
}

.u-section-8 .u-line-1 {
  width: 449px;
  transform-origin: right center;
  margin: 20px auto 0 0;
}

.u-section-8 .u-icon-1 {
  width: 45px;
  height: 45px;
  background-image: none;
  margin: 34px auto 0 0;
  padding: 11px;
}

.u-section-8 .u-text-3 {
  font-size: 1.125rem;
  margin: -33px auto 0 70px;
}

.u-section-8 .u-text-4 {
  font-weight: 400;
  margin: 25px auto 0 70px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-line-2 {
  width: 451px;
  transform-origin: left center;
  margin: 25px auto 0 0;
}

.u-section-8 .u-icon-2 {
  width: 45px;
  height: 45px;
  background-image: none;
  margin: 25px auto 0 0;
  padding: 11px;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  margin: -33px auto 0 70px;
}

.u-section-8 .u-text-6 {
  font-weight: 400;
  margin: 25px auto 0 71px;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-1 {
  min-height: 717px;
  background-image: url("images/still-life-graphic-design-office3.jpg");
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 793px;
  }

  .u-section-8 .u-line-1 {
    width: 381px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 75px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 16px;
    margin-left: 75px;
  }

  .u-section-8 .u-line-2 {
    width: 381px;
    margin-top: 88px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 75px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 16px;
    margin-left: 75px;
  }

  .u-section-8 .u-image-1 {
    min-height: 591px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 644px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 30px 28px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 1px;
  }

  .u-section-8 .u-line-1 {
    width: 566px;
    transform-origin: left center;
    margin-left: 1px;
  }

  .u-section-8 .u-icon-1 {
    width: 54px;
    height: 54px;
    padding: 12px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -42px;
    margin-left: 79px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 20px;
    margin-left: 82px;
  }

  .u-section-8 .u-line-2 {
    width: 566px;
    margin-top: 30px;
    margin-left: 1px;
  }

  .u-section-8 .u-icon-2 {
    width: 54px;
    height: 54px;
    padding: 12px;
  }

  .u-section-8 .u-text-5 {
    margin-top: -42px;
    margin-left: 80px;
  }

  .u-section-8 .u-text-6 {
    margin-top: 20px;
    margin-left: 79px;
  }

  .u-section-8 .u-image-1 {
    min-height: 645px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1357px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-8 .u-container-layout-1 {
    padding: 25px 30px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-8 .u-line-1 {
    width: 465px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: -38px;
    margin-left: 81px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 81px;
  }

  .u-section-8 .u-line-2 {
    width: 465px;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    margin-top: -38px;
    margin-left: 81px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 81px;
  }

  .u-section-8 .u-image-1 {
    min-height: 626px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 659px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-8 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-8 .u-line-1 {
    width: 284px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 84px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: 84px;
  }

  .u-section-8 .u-line-2 {
    width: 275px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-left: 88px;
  }

  .u-section-8 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-left: 88px;
  }

  .u-section-8 .u-image-1 {
    min-height: 394px;
  }
}