.u-section-1 .u-sheet-1 {
  min-height: 534px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 408px;
  --animation-custom_in-scale: 0.3;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  margin: 24px 215px 0 255px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 58px;
  margin: -82px 238px 0 348px;
}

.u-section-1 .u-text-1 {
  font-size: 0.75rem;
  font-style: italic;
  margin: 16px 287px 60px 327px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 115px;
    margin-left: 155px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 138px;
    margin-left: 248px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 187px;
    margin-left: 227px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 5px;
    margin-left: 45px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 28px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
    margin-left: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}html, body {margin: 0; height: 100%; overflow: hidden;
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.95; /* Other non-webkit browsers */
    zoom: 95%; /* Webkit browsers */
}