 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 39px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: 700;
  background-image: none;
  text-transform: none;
  width: 768px;
  margin: 13px auto auto;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1161px;
}

.u-section-2 .u-image-1 {
  height: 1131px;
  width: 808px;
  margin: 26px auto 4px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1038px;
  }

  .u-section-2 .u-image-1 {
    height: 1008px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-image-1 {
    height: 756px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-2 .u-image-1 {
    height: 476px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 828px;
}

.u-section-3 .u-image-1 {
  height: 769px;
  width: 812px;
  margin: 2px auto 58px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 741px;
  }

  .u-section-3 .u-image-1 {
    height: 682px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-3 .u-image-1 {
    height: 512px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-3 .u-image-1 {
    height: 322px;
    width: 340px;
  }
}