.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-image-1 {
  height: 395px;
  width: 688px;
  margin: 32px auto 0;
}

.u-section-1 .u-image-2 {
  height: 407px;
  width: 687px;
  margin: 17px auto -33px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-1 .u-image-1 {
    height: 310px;
    width: 540px;
  }

  .u-section-1 .u-image-2 {
    height: 320px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-1 .u-image-1 {
    height: 195px;
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    height: 201px;
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 819px;
}

.u-section-2 .u-image-1 {
  height: 450px;
  width: 678px;
  margin: 31px auto 0;
}

.u-section-2 .u-image-2 {
  height: 150px;
  width: 590px;
  margin: 7px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-2 .u-image-1 {
    height: 358px;
    width: 540px;
  }

  .u-section-2 .u-image-2 {
    height: 137px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-2 .u-image-1 {
    height: 225px;
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    height: 86px;
    width: 340px;
  }
}