.u-section-1 .u-sheet-1 {
  min-height: 69px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 21px auto 8px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.1111111111111112rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2317px;
}

.u-section-2 .u-text-1 {
  font-size: 0.875rem;
  margin: 22px 0 60px;
}body {
    -moz-transform: scale(0.75, 0.75); /* Moz-browsers */
    zoom: 0.75; /* Other non-webkit browsers */
    zoom: 75%; /* Webkit browsers */
.noClick {
   pointer-events: none;
}}