 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
  min-height: 631px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 64px 50px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 28px calc(((100% - 1140px) / 2) + 675px) 0 calc(((100% - 1140px) / 2) + 381px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: -22px calc(((100% - 1140px) / 2) + 371px) 0 auto;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 70px;
  width: 398px;
  margin: 37px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: 50px;
  width: 153px;
  margin-top: 2px;
  margin-left: calc(((100% - 1140px) / 2) + 289px);
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-3 {
  margin: 29px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 3px 29px 4px 28px;
}

.u-section-1 .u-custom-html-4 {
  margin: 206px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-btn-3 {
  margin: 40px calc(((100% - 1140px) / 2)) 60px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.2em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 520px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 42px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 575px);
    margin-left: calc(((100% - 940px) / 2) + 281px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-custom-html-2 {
    transition-duration: 0.5s;
    margin-left: calc(((100% - 940px) / 2) + 289px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-2 {
    align-self: center;
  }

  .u-section-1 .u-custom-html-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 64px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2) + 465px);
    margin-left: calc(((100% - 720px) / 2) + 171px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 289px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -214px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 299px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 540px) / 2) + 375px);
    margin-left: calc(((100% - 540px) / 2) + 81px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 540px) / 2) + 289px);
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -200px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 259px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-right: calc(((100% - 340px) / 2) + 256px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 340px) / 2) + 187px);
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    padding: 1px 22px 3px 21px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -159px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
}body {
   height: 100%;
   overflow-y: hidden;
   
}
label {
    pointer-events:none;
}