 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/-min.jpg");
  background-position: 63.21% 50%;
  min-height: 1004px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 71px 50px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 18px calc(((100% - 1140px) / 2) + 675px) 0 calc(((100% - 1140px) / 2) + 381px);
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 0.875rem;
  margin: -25px calc(((100% - 1140px) / 2) + 371px) 0 auto;
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 98px;
  margin: 18px auto 0;
}

.u-section-1 .u-btn-2 {
  margin-top: 2px;
  font-size: 0.875rem;
  padding: 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 70px;
  width: 398px;
  margin: 29px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: 50px;
  width: 153px;
  margin-top: 2px;
  margin-left: calc(((100% - 1140px) / 2) + 371px);
  margin-bottom: 0;
}

.u-section-1 .u-custom-html-3 {
  margin: 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 auto;
  padding: 3px 29px 4px 28px;
}

.u-section-1 .u-custom-html-4 {
  margin: 428px calc(((100% - 1140px) / 2)) 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 861px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 72px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 575px);
    margin-left: calc(((100% - 940px) / 2) + 281px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -22px;
    margin-right: calc(((100% - 940px) / 2) + 271px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-custom-html-2 {
    transition-duration: 0.5s;
    margin-top: 5px;
    margin-left: calc(((100% - 940px) / 2) + 271px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: -25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    align-self: center;
    margin-top: 46px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -521px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 655px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 466px);
    margin-left: calc(((100% - 720px) / 2) + 169px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: calc(((100% - 720px) / 2) + 161px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-left: calc(((100% - 720px) / 2) + 161px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 282px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -276px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 243px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: 57px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-right: calc(((100% - 540px) / 2) + 369px);
    margin-left: calc(((100% - 540px) / 2) + 84px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -25px;
    margin-right: calc(((100% - 540px) / 2) + 71px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 7px;
    margin-left: calc(((100% - 540px) / 2) + 71px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 411px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -411px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: -291px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 41px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 6px;
    margin-right: calc(((100% - 340px) / 2) + 227px);
    margin-left: calc(((100% - 340px) / 2) + 25px);
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -18px;
    margin-right: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-1 .u-text-3 {
    width: 102px;
    margin-top: 6px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
    margin-top: 18px;
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 6px;
    margin-left: calc(((100% - 340px) / 2) + -29px);
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 555px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: -540px;
    padding: 1px 22px 3px 21px;
  }

  .u-section-1 .u-custom-html-4 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
  }
}body {
   height: 100%;
   overflow-y: hidden;
   
}
label {
    pointer-events:none;
}